.cover {
  height: 200px;
  width: 200px;
}

#jumbo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  background: url(../images/acidRapBlur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
}
